.circle {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: slategray;
    margin-left: 0.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    font-size: 1.3rem;
}